.test {
  display: block;
  width: 100px;
  height: 100px;
  background-color: #ff0000;
}

.schedule_block {
  display: flex;

  /* display: flex; */
}
.schedule {
  /* max-width: 30px; */
  margin-left: 100px;
}
.forSchedule {
  display: flex;
}
