{% extends 'layout.html' %} {% block content %}

<h2>Добавить непредвиденные обстоятельства</h2>
<form action="/add_unforeseen_circumstances" method="POST">
  <input type="text" name="doctor_id" placeholder="ID врача" />
  <input type="text" name="type" placeholder="Тип" />
  <input type="date" name="start_date" />
  <input type="date" name="end_date" />
  <input type="submit" value="Отправить обстоятельства" />
</form>

<script src="{{url_for('static', filename='main.js')}}"></script>

{% endblock content %}
