{% extends 'layout.html' %} {% block content %}

<form action="/register" , method="POST">
  <input type="text" name="name" placeholder="name" required />
  <input type="text" name="email" placeholder="email" required />
  <input type="text" name="psw" placeholder="password" required />
  <input type="text" name="psw2" placeholder="password" required />
  <input type="submit" value="Регистрация" />
</form>

<script src="{{url_for('static', filename='main.js')}}"></script>
{% endblock content %}
